<!DOCTYPE html>
<html lang="en">
<head>

    <!-- TODO: Fix Background Image for Flask HTML Interface of Site -->
    <style>
        body {
            background-image: url('/media/glacierMelt.jpg');
            background-origin: border-box;
            background-size: cover;
        }
    </style>

</head>
<body>

    <!-- Website Page Title and Details-->
    <meta charset="UTF-8">
    <h3>Viewing Climate Change Impacts by Glacier Density Impacts: Online Climatology Database</h3>
    <form method="POST"><br>

        <!-- User Input information -->
        <label for="country">Country User Wishes to Enter: </label>
        <input type="text" id="country" name="country"><br>
        <label for="reason">Why do you wish to enter your country?</label><br>
        <input type="text" id="reason" name="reason" size="50"><br>
        <label id="error_text" hidden><br></label><br>

        <!-- Label to test "validLogin" Variable: <label id = {{ validLogin }}, value={{ validLogin }}></label> -->

        <!-- Invalid Input Message Function-->
        <script>
            var invalidInput = {{ invalidInput }}
            if (invalidInput == 1) {
                document.getElementById("error_text").innerHTML = "Invalid Username or Password Entered. Re-enter a valid Username or Password.<br>";
                document.getElementById("error_text").style.color = "red";
                document.getElementById("error_text").hidden = false
            }
        </script>

        <!-- Submit Button and Error Code for Non-JavaScript-Users -->
        <input type="submit" id="next" value="Submit Petition">
        <noscript>Please reload this site with a browser that supports JavaScript.</noscript>
    </form>
</body>
</html>